/* Layout */
body {
  padding: 20px 0; }

.outer {
  max-width: 730px;
  margin: 0 auto; }

.jumbotron {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.plans {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .plans > div {
    width: 33%;
    float: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .plans > div .stretch {
      width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
    .plans > div a {
      margin-top: 16px;
      margin-top: 1rem; }

.marketing {
  margin-bottom: 96px;
  margin-bottom: 6rem; }

.well form .inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .well form .inputs #email {
    width: 50%;
    display: inline;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  .well form .inputs .btn {
    width: 250px;
    width: 25rem;
    margin-left: 16px;
    margin-left: 1rem; }

.footer {
  border-top: 1px solid #eee;
  padding-top: 32px;
  padding-top: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer p {
    float: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  .footer > a {
    float: right;
    padding-left: 16px;
    padding-left: 1rem; }
